<h1>Anglia Ruskin Uni</h1>
  <div class="message">
  Author: 1647660
  Module: Mobile Technology
  <br>
  <span style="font-weight: bold;">About this App </span>: 
  This is a hybrid application for study life management. Features include 
  <br>
  - <a> To-do list </a>
  <br>
  - <a> Reading-list </a>
  <br>
  - <a> Account management </a>
  <br>
  Plans for further improvement such as setting up HTTP functions, cloud storage, better search engine and other useful modules for learning. 

  </div>