form
{
  width: 500px;
  height: 300px;
  background-color: #4ec296; 
  margin: 10%;
  border-style: double;
  border-radius: 10px; 
}

form div
{
  margin: 5px; 
  
}
.search
{
  margin-top: 5px; 
}

form button
{
  margin-top: 5px; 
}

.list 
{
  margin: 20px 10%;
  background-color: #45ac84e7; 
  width: 500px;
  border-radius: 10px;
  border-style: groove; 
  box-shadow: 10px;
}