
.container
{
  position: fixed;
  margin: 5% 5% 5% 15%; 
  background-color: rgba(5, 102, 73, 0.74);
  border-radius: 10px; 
  color:white;
  height:60%;
  width: 60%; 
  padding:0; 
}

.header
{
  background-color: #4ec296;
  width: 100%; 
  margin: 0; 
  padding: 0; 
  position:fixed;
  height: 10%;
  left:0; 
  top: 0;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
}
.bar
{
  padding: 0 50px 0 100px ;
  position: inherit;
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  background-color: #4ec295;
}

body
{
  background-color: lightgray;
}
